.navbar {
    background-color: #FB6222;
}
.titulos{
    text-align: center;
    color: #FB6222;
    text-decoration: overline underline solid red;
}
.nav-link:hover{
    text-decoration: overline underline solid red;

}
.container{
    background-color: beige;
    padding: 20px;
}
/*contacto*/

form {
    color: black;
    text-align: center;
    font-weight: 100;
    padding: 20px;
}

.form {
    background-color: beige;
    border: 2px solid white;
    margin: 50px;
}
