<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr-House</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6dd88c038c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css" integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="icon" th:href="@{/img/Favicon.ico}">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
   <a class="navbar-brand" th:href="@{index.html}">
      <img th:src="@{/img/Logo.png}" width="50px" height="50px" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a th:href="@{/propiedades/ventas.html}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Ventas
          </a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/propiedades/casas-venta.html}" class="dropdown-item" >Casas</a></li>
            <li><a th:href="@{/propiedades/departamentos-ventas.html}" class="dropdown-item" >Departamentos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:href="@{/propiedades/alquileres.html}" role="button" data-bs-toggle="dropdown">
            Alquileres
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/propiedades/casas-alquiler.html}">Casas</a></li>
            <li><a class="dropdown-item" th:href="@{/propiedades/departamentos-alquiler.html}">Departamentos</a></li>
          </ul>
        </li>
            <li class="nav-item">
              <a class="nav-link text-dark" th:href="@{inmobiliarias.html}">Inmobiliarias</a>
            </li>
        <li class="nav-item">
          <a class="nav-link text-dark" th:href="@{/contacto}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" th:href="@{/tabla}">Tabla</a>
        </li>
      </ul>
      <a th:href="@{/ingresar}"><button class="btn btn-dark">Ingresar</button></a>
        
    </div>
  </div>
</nav>

<br></br>
<div class=" d-flex justify-content-center align-items-center">
  <img src="/img/Titulo.png" width="500 px" height="100 px" alt="Titulo">
</div>
<br></br>

<div class="search-bar">
  <div class="search-category">
    <a href="#">
      <span>inmuebles</span>
      <i class="las la-angle-down"></i>
    </a>
    <div class="category-menu">
      <a href="#" class="menu-item">casas</a>
      <a href="#" class="menu-item">Departamentos</a>
    </div>
  </div>
  <div class="search-category">
    <a href="#">
      <span>Transaccion</span>
      <i class="las la-angle-down"></i>
    </a>
    <div class="category-menu">
      <a href="#" class="menu-item">Venta</a>
      <a href="#" class="menu-item">Alquiler</a>
    </div>
  </div>
  <div class="search-category">
    <a href="#">
      <span>$ Desde:</span>
      <i class="las la-angle-down"></i>
    </a>
    <div class="category-menu">
      <a href="#" class="menu-item">$10.000</a>
      <a href="#" class="menu-item">$20.000</a>
      <a href="#" class="menu-item">$30.000</a>
      <a href="#" class="menu-item">$40.000</a>
      <a href="#" class="menu-item">$50.000</a>
      <a href="#" class="menu-item">$60.000</a>
      <a href="#" class="menu-item">$70.000</a>
      <a href="#" class="menu-item">$80.000</a>
      <a href="#" class="menu-item">$90.000</a>
      <a href="#" class="menu-item">$100.000</a>
      <a href="#" class="menu-item">$200.000</a>
      <a href="#" class="menu-item">$300.000</a>
      <a href="#" class="menu-item">$400.000</a>
      <a href="#" class="menu-item">$500.000</a>
      <a href="#" class="menu-item">$600.000</a>
      <a href="#" class="menu-item">$700.000</a>
      <a href="#" class="menu-item">$800.000</a>
      <a href="#" class="menu-item">$900.000</a>
      <a href="#" class="menu-item">$1.000.000</a>
      <a href="#" class="menu-item">$2.000.000</a>
      <a href="#" class="menu-item">$3.000.000</a>
      <a href="#" class="menu-item">$4.000.000</a>
      <a href="#" class="menu-item">$5.000.000</a>
      <a href="#" class="menu-item">$6.000.000</a>
      <a href="#" class="menu-item">$7.000.000</a>
      <a href="#" class="menu-item">$8.000.000</a>
      <a href="#" class="menu-item">$9.000.000</a>
      <a href="#" class="menu-item">$10.000.000</a>
      <a href="#" class="menu-item">$15.000.000</a>
      <a href="#" class="menu-item">$20.000.000</a>
      <a href="#" class="menu-item">$25.000.000</a>
      <a href="#" class="menu-item">$30.000.000</a>
      <a href="#" class="menu-item">$35.000.000</a>
      <a href="#" class="menu-item">$40.000.000</a>
      <a href="#" class="menu-item">$45.000.000</a>
      <a href="#" class="menu-item">$50.000.000</a>
    </div>
  </div>
  <div class="search-category">
    <a href="#">
      <span>$ Hasta:</span>
      <i class="las la-angle-down"></i>
    </a>
    <div class="category-menu">
      <a href="#" class="menu-item">$10.000</a>
      <a href="#" class="menu-item">$20.000</a>
      <a href="#" class="menu-item">$30.000</a>
      <a href="#" class="menu-item">$40.000</a>
      <a href="#" class="menu-item">$50.000</a>
      <a href="#" class="menu-item">$60.000</a>
      <a href="#" class="menu-item">$70.000</a>
      <a href="#" class="menu-item">$80.000</a>
      <a href="#" class="menu-item">$90.000</a>
      <a href="#" class="menu-item">$100.000</a>
      <a href="#" class="menu-item">$200.000</a>
      <a href="#" class="menu-item">$300.000</a>
      <a href="#" class="menu-item">$400.000</a>
      <a href="#" class="menu-item">$500.000</a>
      <a href="#" class="menu-item">$600.000</a>
      <a href="#" class="menu-item">$700.000</a>
      <a href="#" class="menu-item">$800.000</a>
      <a href="#" class="menu-item">$900.000</a>
      <a href="#" class="menu-item">$1.000.000</a>
      <a href="#" class="menu-item">$2.000.000</a>
      <a href="#" class="menu-item">$3.000.000</a>
      <a href="#" class="menu-item">$4.000.000</a>
      <a href="#" class="menu-item">$5.000.000</a>
      <a href="#" class="menu-item">$6.000.000</a>
      <a href="#" class="menu-item">$7.000.000</a>
      <a href="#" class="menu-item">$8.000.000</a>
      <a href="#" class="menu-item">$9.000.000</a>
      <a href="#" class="menu-item">$10.000.000</a>
      <a href="#" class="menu-item">$15.000.000</a>
      <a href="#" class="menu-item">$20.000.000</a>
      <a href="#" class="menu-item">$25.000.000</a>
      <a href="#" class="menu-item">$30.000.000</a>
      <a href="#" class="menu-item">$35.000.000</a>
      <a href="#" class="menu-item">$40.000.000</a>
      <a href="#" class="menu-item">$45.000.000</a>
      <a href="#" class="menu-item">$50.000.000</a>
    </div>
  </div>
  <label class="input-search">
    <input type="text" placeholder="Search Your Item" />
    <div class="search-menu">
      <div class="search-related">
        <a href="#">
          <span>Buenos Aires</span>
        </a>
        <a href="#">
          <span>Cordoba</span>
        </a>
        <a href="#">
          <span>Mendoza</span>
        </a>
        <a href="#">
          <span>Santa Fe</span>
        </a>
      </div>
    </div>
  </label>
  <a href="#" class="search-btn">
    <i class="las la-search"></i>
  </a>
</div>
</body>
   


